    <nav class="am-g blog-nav am-topbar-fixed-top">
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-container am-topbar-collapse" id="blog-collapse">
                <center>
            <ul class="am-nav am-nav-pills am-topbar-nav">

                <h1 class="am-topbar-brand" >
                    <a href="{:url('Index/index')}">选调生站点<!--<img src="__IMG__/logo.png" alt="">--></a>
                </h1>
                <li><a href="{:url('index/Index/index')}">信息登记<!--<img src="__IMG__/logo.png" alt="">--></a></li>
            </ul>
        </center>
            <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
              <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
              </div>
            </form>
        </div>
    </nav>

<!-- 导航结束 -->
<!-- 轮播开始 -->
<!-- <div class="am-slider am-slider-default" data-am-flexslider="{playAfterPaused: 8000}">
  <ul class="am-slides">
    <li><img src="assets/i/f17.jpg" /></li>
  </ul>
</div> -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="__IMG__/banner1.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="__IMG__/banner2.jpg" alt="" >
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
<!-- 轮播结束 -->
<br>